---
---

$scarlet: rgb(185, 31, 58);
$emerald: rgb(10, 82, 55);

.cf {
  overflow: auto;
  zoom: 1;
}

@import "bootstrap";
@import "agency";

body {
	background: #f8f8f8;
}

header {
	position: relative;

	.blackscreen {
		background: rgba(0, 0, 0, .48);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.container {
		position: relative;
		text-shadow: 0px 2px 10px rgba(0,0,0,.3);

		.navbar-header .navbar-brand {
			font-family: Crimson Text;
		}

		.intro-text {

		}

		.intro-heading {
			font-weight: 500;
			margin-bottom: 20px;
		}

		.intro-paragraph {
			font-family: Crimson Text;
			font-size: 22px;
		}
	}
}

section {
	padding: 70px 0px;
	text-align: center;
}

section#brothers {
	.container {
		> h3 {
			margin-bottom: 40px;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				margin-left: -180px;
				width: 360px;
				height: 1px;
				bottom: -12px;
				background: rgba(130, 130, 130, .27);
			}
		}
	}

	.class {
		padding-bottom: 50px;

		> h5 {
			margin-bottom: 0px;
		}
	}

	.group {
		text-align: left;
		font-size: 0;

		.bro {
			display: inline-block;
			width: 380px;
			margin: 16px 0px;
			font-family: Crimson Text;
			@extend .cf;

			.face {
				float: left;
				height: 150px;
				width: 150px;
				border-radius: 150px;
				background-size: cover;
				background-position: top center;
			}

			.desc {
				margin-left: 165px;
				padding-top: 16px;
				margin-right: 5px;
			}

			.name {
				font-size: 21px;
				font-weight: 400;
				line-height: 1.2;
				font-family: Montserrat;
				margin-bottom: 12px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					left: 0px;
					bottom: -7px;
					width: 95px;
					height: 1px;
					background: rgba(140, 140, 140, .2);
				}
			}

			.info {
				font-size: 14px;
			}
		}
	}
}